.git
.gitignore

.venv
__pycache__
.pytest_cache
.ruff_cache

*.pyc
*.pyo
*.pyd

*.ipynb

notebooks/
data/
tests/

reports/
docs/
scripts/

.env
.env.*

coverage.xml
htmlcov/

*.egg-info/

Dockerfile
docker-compose.yml